body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#map {
   width: 100%;
   height: calc(100vh - 60px);
}

.heading {
  width: 100%;
  text-align: center;
  color: #20945f
}

.filter-input {
  width: 330px;
  padding: 5px;
}

.outer-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.location-box {
  width: 20%
}

.map-box {
  width: 80%
}

ul {
    background: white;
    border: 1px solid darkgrey;
    padding: 0;
    margin: 0;
    max-height: 200px;
    list-style-type: none;
    width:90%
}

.location-name {
    cursor: pointer;
    padding: 5px;
}

.location-name:hover {
    background-color: #269abc;
    color: white;
}

.toggle-button {
    text-align: center;
    padding: 5px;
    background-color: #945426;
    border: 1px darkgrey solid;
    cursor: pointer;
    width: 346px;
}

.error-message {
  color: #ef495b;
  font-weight: bold;
}

@media screen and (min-width: 501px) and (max-width: 850px) {
  .location-box {
    width: 100%;
    text-align: center;
  }

  .map-box {
    width: 100%
  }

  .filter-input {
    width: 440px;
    height: 25px;
  }

  ul li {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 380px;
  }

  .toggle-button{
    width: 440px;
  }

}

@media screen and (max-width: 500px) {
  .toggle-button{
    width: 90%;
    text-align: left;
  }

  .filter-input {
    width: 90%;
    height: 25px;
    padding:5px 0px;
  }

  .location-box{
    width: 100%;
  }
  .map-box{
    width: 100%
  }

}
